*{

    padding: 0;
    margin: 0;
    font-family:Tahoma;
}

body{

    text-align: center;
}

label{
    display: block;
    margin:30px 50px;
}

#roll{
    padding:10px;
    margin:0 auto;
    box-shadow:0 0 9px 30px rgb(236, 12, 12);
    animation:color 5s linear infinite;
}

.container{
    padding: 10px;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 10px;
    height:300px;
    width:400px;
    color: green;
    background:linear-gradient(to right, rgb(201, 255, 201),rgb(198, 198, 250))
}

.container input{
    text-align: center;
    box-shadow:0 0 20px 0 gray;
    border:none;

}



#sub {
    width: 100px;
    height: 20px;
}


@keyframes color{
0%{
    box-shadow:0 0 12px 3px rgb(250, 4, 4); ;
}
20%{
    box-shadow:0 0 12px 3px rgb(5, 185, 20); ;
}

40%{
    box-shadow:0 0 12px 3px rgb(230, 150, 30); ;
}

60%{
    box-shadow:0 0 12px 3px rgb(94, 29, 247); ;
}

80%{
    box-shadow:0 0 12px 3px rgb(210, 9, 250); ;
}
100%{
    box-shadow:0 0 12px 3px rgb(216, 24, 255); ;
}





}