*{
    margin: 0;
    
   
}

.object{
    font-size: 4em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    
}